doctype html
p Best tandem eva!
head
	script(src="login.js")
form
	label Username
	input#username(type="text")
	label Password
	input#password(type="password")
	button#loginButton(type="button", onClick="postLogin()") Login
p#error
br
a(href="/register") Registration