doctype html
head
	link(rel='icon' href='assets/favicon.ico' type='image/x-icon')
	link(rel="stylesheet", type="text/css", href="lobby.css")
	script(type="module", src="lobby.js")
body
	h1 Lobby
	table#roomTable.hidden
		thead
			tr
				th Room Name
				th Players
				th Spectators
				th Action
		tbody#roomTableBody
	p#message