form
	label Username
	input.username(type="text")
	label Password
	input.password1(type="password")
	label Repeat Password
	input.password2(type="password")
	input.registerButton(type="submit", value="Register")