doctype html
head
	script(src="register.js")
body
	form
		label Username
		input#username(type="text")
		label Password
		input#password1(type="password")
		label Repeat Password
		input#password2(type="password")
		button#registerButton(type="button" onClick="register()") Register
	p#message