doctype html
head
	script(src="room.js")
body
	h1#roomHeader
	table#positionTable
		thead
			tr
				th Position
				th Player
		tbody#positionTableBody
	button#leaveButton(type="button", onClick="leaveRoom()") Leave Room