doctype html
head
	script(type="module", src="room.js")
body
	h1#roomHeader
	table#positionTable
		thead
			tr
				th Position
				th Player
		tbody#positionTableBody
	p#message
	button#leaveButton(type="button") Leave Room