@media (min-width: 768px) and (orientation:portrait) {
    #welcome {
        height: 50vh;
    }

    #welcome-text, #basic-rules, .btn-primary {
        font-size: 2.25rem;
    }

    #pieces {
        height: 50%;
    }
}

@media (min-width: 768px) and (orientation:landscape) {
    #welcome {
        height: 100vh;
    }

    #welcome-text, #basic-rules, .btn-primary {
        font-size: 1.5rem;
    }

    #pieces {
        height: 75%;
    }
}

@media (min-width: 992px) {
    #welcome {
        height: 100vh;
    }

    #welcome-text, #basic-rules, .btn-primary {
        font-size: 1.95vw;
    }

    #pieces {
        height: 27.2vw;
    }
}

body {
    margin: 0;
    padding: 0;
    font-size: 1;
    font-family: 'Lucida Console', monospace;
    line-height: 1.15;
}

p {
    margin-bottom: 0;
    padding-left: 1%;
    padding-right: 1%;
    color: #3a3f47;
}

hr {
    width: 80%;
    border-top: 1px solid #3a3f47;
}

.navbar {
    background-color: #c04fe0;
}

.nav-link {
    color: #3a3f47;
    font-size: 1.5rem;
    border-left: 1px solid #3a3f47;
}

.last-link.nav-link {
    border-right: 1px solid #3a3f47;
}

.nav-link:hover {
    color: black;
}

#pieces {
    padding-top: 14%;
    max-width: 100%;
}

.welcome-left {
    background-color: #ffac54;
}

.welcome-right {
    background-color: #4eb8dd;
}

#welcome-text {
    padding-top: 15%;
}

#basic-rules {
    padding-top: 5%;
}

.btn-primary {
    left: 50%;
    position: relative;
    transform: translate(-50%, 0);
}

#learn-more {
    top: 5%;
    background-color: #2ca6ce;
}

#learn-more:hover, #learn-more:active {
    background-color: #098ebb;
}

#play-now {
    top: 5.2%;
    background-color: #ff9a2f;
    color: #3a3f47;
}

#play-now:hover, #play-now:active {
    background-color: #ff8403;
    color: black;
}

#rules {
    position: absolute;
    top: 35vw;
    background: transparent;
}

.carousel-indicators {
    top: 13vw;
}

.slide-title {
    padding-top: 1.5%;
    padding-bottom: 2%;
    font-size: 1.75vw;
    color: #3a3f47;
}

.slide-text {
    padding-left: 3.5%;
    padding-right: 3.5%;
    font-size: 1.15vw;
    color: #3a3f47;
}

.carousel-control-prev, .carousel-control-next {
    top: 7vw;
    width: 2%;
    height: 2%;
}

.btn-default:focus {
    outline: none;
    box-shadow: none;
    opacity: .5;
}

.btn-default:hover {
    opacity: .9;
}

.carousel .carousel-indicators li {
    background-color: #098ebb;
}